@media screen and (max-width: 919px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
    line-height: 2em;
    gap: 10px;
  }
  .block2 {
    min-height: 130vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 50px;
  }
  .me {
    padding: 15px;
    padding-bottom: 50px;
    background: #edecf1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-4.92deg);
    width: 60%;
  }
  .block3 {
    min-height: 130vh;
    min-width: 90vw;
    background-color: #263248;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 50px;
  }
  .fhiona {
    padding: 15px;
    padding-bottom: 50px;
    background: #edecf1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(7.09deg);
    width: 60%;
  }
  .block4 {
    min-height: 130vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 50px;
  }
  .sushi {
    padding: 15px;
    padding-bottom: 50px;
    background: #edecf1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-8.61deg);
    width: 340%;
    align-items: center;
  }
  .photofirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
  }
  .photosecond {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    justify-content: center;
  }
  .block5 {
    min-height: 280vh;
  }
  .photo1 {
    padding: 15px;
    padding-bottom: 50px;
    background: #edecf1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(1.41deg);
    width: 340%;
  }
  .photo2 {
    padding: 15px;
    padding-bottom: 50px;
    background: #edecf1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-8.64deg);
    width: 340%;
  }
  .photo3 {
    padding: 15px;
    padding-bottom: 50px;
    background: #edecf1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-7.23deg);
    width: 340%;
  }
  .photo4 {
    padding: 15px;
    padding-bottom: 50px;
    background: #edecf1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(2.63deg);
    width: 340%;
  }
  .photo5 {
    padding: 15px;
    padding-bottom: 50px;
    background: #edecf1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(13.13deg);
    width: 340%;
  }
.introdusion{
  float: center;
  background-image: cover;
}
.textblock1{
  max-width: 90%;
}
.textblock2{
  max-width: 90%;
}
.textblock3{
  max-width: 90%;
}
.textblock4{
  max-width: 90%;
}
.textblock5{
  max-width: 90%;
}
.textintrodusion{
  font-size: 18pt;
  margin: 20px;
  max-width: 80%;
}
h1{
  margin: 20px;
  font-size: 48pt;
}
h2{
  font-size: 28pt;
  margin: 20px;
}
.sushilink{
  display: flex;
    justify-content: space-around;
}
.photos a{
  display: flex;
    justify-content: space-around;
}
}

