* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #263248;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;

  margin: 0px;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 96pt;
  margin-left: 190px;
  margin-bottom: 15px;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48pt;
  margin-left: 190px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.textintrodusion {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24pt;
  margin-left: 190px;
  margin-top: 0px;
  max-width: 50%;
}
.introdusion {
  background-image: url(introdusion.jpg);
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  position: sticky;
  top: 0;
  z-index: 6;
  white-space: nowrap;
}
.navbar {
  background-color: #060905;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 80px;
}
.logo {
  font-size: 20;
  text-decoration: none;
  color: #edecf1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.menu a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: 20px;
  padding: 5px 15px;
  margin: 0px 10px;
  border: 0px solid transparent;
  border-radius: 16px;
  transition: all 0.15s ease-in 0s;
}
.menu a:hover {
  color: #ccb153;
  transition: all 0.15s ease-in 0s;
}
.me {
  padding: 25px;
  padding-bottom: 80px;
  background: #edecf1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-4.92deg);
  width: 20%;
  transition: 0.3s ease-in-out;
}
.h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}
.block2 {
  min-height: 110vh;
  min-width: 90vw;
  background: #211608;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 110px;
}
.textblock2 {
  float: right;
  max-width: 33%;
}
.fhiona {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(7.09deg);
  padding: 25px 25px 80px;
  gap: 10px;
  float: right;
  width: 20%;
  transition: 0.3s ease-in-out;
}
.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.parrot {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.names {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 29px;
}
.name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  list-style-type: square;
}
.extra {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #5f564b;
}
.textblock3 {
  float: right;
  max-width: 33%;
}
.block3 {
  min-height: 110vh;
  min-width: 90vw;
  background-color: #4f3e2a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 110px;
}

.sushilink {
  width: 20%;
  display: flex;
}

.sushi {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-8.61deg);
  padding: 25px 25px 80px;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.textblock4 {
  float: left;
  max-width: 33%;
}
.food {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.block4 {
  min-height: 110vh;
  min-width: 90vw;
  background: #211608;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 110px;
}
.h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
.textphoto {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.textblock5 {
  max-width: 32%;
}
.photo1 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(1.41deg);
  width: 100%;
  transition: 0.3s ease-in-out;
}
.photo2 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-8.64deg);
  width: 100%;
  transition: 0.3s ease-in-out;
}
.photo3 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-7.23deg);
  width: 100%;
  transition: 0.3s ease-in-out;
}
.photo4 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(2.63deg);
  width: 100%;
  transition: 0.3s ease-in-out;
}
.photo5 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(13.13deg);
  width: 100%;
  transition: 0.3s ease-in-out;
}
.photofirst {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 110px;
}
.photosecond {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 41px;
  justify-content: center;
}
.block5 {
  min-height: 180vh;
  min-width: 90vw;
  background-color: #4f3e2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 110px;
}
.photo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  isolation: isolate;
}
.textcontacts {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}
.linkcontacts {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  text-decoration: none;
  color: #ffffff;
}
.link {
  flex-direction: row;
  align-items: center;
  align-items: center;
}
.block6 {
  padding: 0px 80px;
  justify-content: center;
  min-height: 50vh;
  min-width: 80vw;
  background-color: #060905;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
}
.steam {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 0px;
  gap: 14px;
}
.behance {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
}
.instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
}
.telegram {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
}
.links {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.15s ease-in 0s;
  display: flex;
  gap: 10px;
}
.me:hover {
  transform: rotate(-2deg);
  transition: 0.3s ease-in-out;
}
.fhiona:hover {
  transform: rotate(5deg);
  transition: 0.3s ease-in-out;
}
.sushi:hover {
  transform: rotate(-5deg);
  transition: 0.3s ease-in-out;
}
.photo1:hover {
  transform: rotate(-2deg);
  transition: 0.3s ease-in-out;
}
.photo2:hover {
  transform: rotate(-3deg);
  transition: 0.3s ease-in-out;
}
.photo3:hover {
  transform: rotate(-4deg);
  transition: 0.3s ease-in-out;
}
.photo4:hover {
  transform: rotate(4deg);
  transition: 0.3s ease-in-out;
}
.photo5:hover {
  transform: rotate(9deg);
  transition: 0.3s ease-in-out;
}
.extra2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #5f564b;
}
.links:hover {
  color: #ccb153;
  transition: all 0.15s ease-in 0s;
}
.links:hover svg {
  fill: #ccb153;
  transition: all 0.15s ease-in 0s;
}
.behance-svg {
  width: 32px;
  transition: all 0.15s ease-in 0s;
}
.instagram-svg {
  width: 32px;
  transition: all 0.15s ease-in 0s;
}

.telegram-svg {
  width: 32px;
  transition: all 0.15s ease-in 0s;
}
.steam-svg {
  width: 32px;
  transition: all 0.15s ease-in 0s;
}

.textblock4 em {
  color: #a1918d;
  font-style: normal;
}
.noa {
  text-decoration: none;
}
.textblock2 em {
  color: #a1918d;
  font-style: normal;
}
.textblock3 em {
  color: #a7927a;
  font-style: normal;
}
.textblock5 em {
  color: #a7927a;
  font-style: normal;
}
.parallax1 {
  z-index: 5;
  position: absolute;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: left;
  top: 1300px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #ffffff;
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 5px #ab801c;
  }
  to {
    box-shadow: 0 0 10px 10px #fff4d2;
  }
}
.parallax2 {
  z-index: 3;
  position: absolute;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: left;
  top: 1300px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #ffffff;
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 5px #ab801c;
  }
  to {
    box-shadow: 0 0 10px 10px #fff4d2;
  }
}
.parallax3 {
  z-index: 3;
  position: absolute;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: right;
  top: 1300px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #ffffff;
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 5px #ab801c;
  }
  to {
    box-shadow: 0 0 10px 10px #fff4d2;
  }
}
.parallax4 {
  z-index: 3;
  position: absolute;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: left;
  top: 1500px;
  left: 50px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #ffffff;
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 5px #ab801c;
  }
  to {
    box-shadow: 0 0 10px 10px #fff4d2;
  }
}
.parallax5 {
  z-index: 3;
  position: absolute;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: left;
  top: 1300px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #ffffff;
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 5px #ab801c;
  }
  to {
    box-shadow: 0 0 10px 10px #fff4d2;
  }
}
.photos a {
  display: flex;
  width: 20%;
}
.menu .active a {
  color: #ccb153;
}
